<div class="app-bar">

  <a href="#" class="button sign-in">Sign in</a>

  <div class="sign-in-integrations">
    <a href="https://www.catchfly.io/api/oauth/outlook" class="button outlook"><img src="{{theme.link}}/assets/images/outlook.svg" />Sign in with Outlook</a>
    <a href="https://www.catchfly.io/api/oauth/gmail" class="button google"><img src="{{theme.link}}/assets/images/google.png" />Sign in with Google</a>
  </div>

</div>
