{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

    {% include 'app-bar.twig' %}

    <div class="container">
  		<header class="header" >
  			{% block header %}
  			{% endblock %}
  		</header>

  		<section id="content" role="main" class="container-fluid">
  			{% block content %}
  				Sorry, no content
  			{% endblock %}
  		</section>

  		{% block footer %}
  			<footer class="footer container-fluid">
  				{% include 'footer.twig' %}
  			</footer>
  			{{ function('wp_footer') }}
  		{% endblock %}
    </div>
	</body>
</html>
